body {
    margin: 0;
    padding: 0;
}

header {
    background-color: #131921;
    height: 10vh;
    font-size: xx-large;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

section {
    display: flex;
}

.filters .categories-filter .categories-list {
    display: flex;
    flex-direction: column;
    list-style: none;
}

.categories-filter li {
    display: flex;
}

.categories {
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.categories-list div {
    display: flex;
}

.category {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.image-container img {
    height: 150px;
    width: 150px;
}

.product {
    height: 300px;
    flex-basis: 225px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin: 20px;
    border-radius: 30px;
    background-color: aliceblue;
}

.product:hover {
    cursor: pointer;
}

.title:hover {
    color: orange;
}

.price-container {
    display: flex;
    font-size: 40px;
}

.dollar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 20px;
}

.rating-container {
    display: flex;
    align-items: center;
    font-weight: bold;
}

.star-image {
    height: 20px;
    width: 20px;
}

#loading {
    position: fixed;
    display: flex;
    width: 100%;
    height: 100%;
    top: 50vh;
    left: 50vw;
    text-align: center;
    opacity: 0.7;
    background-color: #fff;
    z-index: 99;
}

.no-products {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 50vh;
    left: 50vw;
    text-align: center;
    opacity: 0.7;
    background-color: #fff;
    z-index: 99;
}

.fetch-fail {
    display: none;
    top: 50vh;
    left: 50vw;
    text-align: center;
    opacity: 0.7;
    background-color: #fff;
    z-index: 99;
    font-size: 20px;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}