body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.form-container {
    background-color: #ffffff;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.error-messaging {
    display: none;
    color: crimson;
}

.pwd-match-fail {
    display: none;
    color: crimson;
}

.user-not-found {
    display: none;
}

.incorrect-info {
    display: none;
    color: crimson;
}

.tabs {
    display: flex;
    margin-bottom: 20px;
}

.tab-btn {
    flex: 1;
    padding: 10px;
    text-align: center;
    background-color: #232f3e;
    color: #ffffff;
    border: none;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    cursor: pointer;
}

.tab-btn.active {
    background-color: #ff9900;
}

.form {
    display: flex;
    flex-direction: column;
}

.form input {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.action-btn {
    background-color: #ff9900;
    color: #ffffff;
    border: none;
    padding: 10px;
    border-radius: 4px;
    cursor: pointer;
}

.hidden {
    display: none;
}

.form p {
    margin-top: 10px;
    text-align: center;
}

.form span {
    color: #ff9900;
    cursor: pointer;
}