body {
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    padding: 20px;
}

.product-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.image-container {
    padding: 20px;
}

.image-container img {
    height: 400px;
    width: 400px;
}

.content-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.rating-container {
    display: flex;

    .rating {
        font-size: 1em;
        padding: 10px;
        font-weight: bold;
    }

    .count {
        font-size: 1em;
        padding: 10px;
        color: blue;
    }
}

.price-container {
    display: flex;

    .price {
        font-size: 2em;
        font-weight: bold;
    }

    .dollar {
        display: flex;
        align-items: center;
        font-size: 1.5em;
        font-weight: bold;
    }
}

.title {
    font-size: 3em;
    font-weight: bold;
}

.description {
    font-size: 1em;
    opacity: 0.8;
}

.star-img img {
    height: 20px;
    width: 20px;
    padding: 10px
}

.price-container {
    color: orange;
}

#loading {
    position: fixed;
    display: flex;
    width: 100%;
    height: 100%;
    top: 50vh;
    left: 50vw;
    text-align: center;
    opacity: 0.7;
    background-color: #fff;
    z-index: 99;
}

.no-products {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 50vh;
    left: 50vw;
    text-align: center;
    opacity: 0.7;
    background-color: #fff;
    z-index: 99;
}

.back-to-home {
    display: flex;
}

.back-to-home img {
    height: 20px;
    width: 20px;
}

.back-to-home:hover {
    cursor: pointer;
}